#jsLab {
    width: 800px;
    height: 800px;
}

.coeff-container {
    margin-right: 30px;
}

.task-container {
    display: flex;
    align-items: center;
}

.results-container {
    display: flex;
}

.matrix {
    margin-right: 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.matrix td {
    text-align: center;
    width: 30px;
}

input {
    width: 30px;
    text-align: center;
}
